<h1>Blog Posts</h1>
<h3>Sample Post One</h3>
<p>This is some sample text</p>
<!--hr tag is used to define a thematic change in the content-->
<hr>
<h3>Sample Post Two</h3>
<p>This is some more sample content</p>